# Development
*.map
.circleci/
.editorconfig
.eslintrc*
.gitignore
.travis.yml
gulpfile.js
package-lock.json
rollup.config.js
src/
tsconfig.json
tsconfig.tsbuildinfo
tslint.json
webpack.config.js

# Package managers
node_modules/
npm-debug.log*
package-lock.json
tsconfig.json
vendor/
yarn-error.log

# Project specific
*.vsix
images/logo.svg
src/
todo.md
tsconfig.tsbuildinfo
isetup.xml
